$height: 600px;
$width: 800px;

.slide-wrapper {
  display: flex;
  justify-content: center;
  width: $width;
  height: $height;
  margin: 30px auto;
  border: dashed 2px red;

  .slide {
    height: $height;
    position: absolute;
    opacity: 0;
    transition-duration: 2s;

    img {
      height: 100%;
    }
  }

  .active {
    opacity: 1;
  }

  .prev {
    transform: translateX($width * 1.1);
  }

  .next {
    transform: translateX($width * -1.1);
  }
}